<!DOCTYPE html>
<html>
<head>
  <title><%= @title %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
    <a class="brand" href="/home/index">
      Hopbug
    </a>
      <ul class="nav">
        <li class="active">
          <a href="/home/index">Home</a>
        </li>
        <li><a href="/venues">Venues</a></li>
        <li><a href="/users">Users</a></li>
      </ul>
      
      <script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-dropdown.js"></script> 
      <div class="btn-group pull-right">
        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
          User Profile
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
        <li><a href="/users">Profile</a></li>
         <li><a href="/venues">Settings</a></li>
         <%= link_to "Sign in (with Twitter)", "/auth/twitter" %>
         <li><a href="/users">Sign Out</a></li>
        </ul>
      </div>
   
      <form class="navbar-search pull-right">
        <input type="text" class="search-query" placeholder="Search">
      </form>
    </div>
  </div>
</div>


  </br>



<div class="navbar-fixed-bottom">
  <div class="navbar-inner">
    <div class="container">
    </div>
  </div>
</div>
</br>


</body>
</html>
